body {
    background-image:url(wall.jpg);
}
h1.welcome{
    color: black;
    text-align: center;
    font-style: verdana;
}
p.welcome{
    color: black;
    text-align: center;
    font-style: verdana;
    
}

h2{
    color: black;
    text-align: center;
}

div.background {
    background: url(merah.jpg) repeat;
    opacity: 0.7;
    border: 2px solid black;
}

div.transbox {
    text-align: center;
    color:wheat;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

button.back{
    background-color: rgb(187, 110, 110);
    color:black;
    font-size: 16px;
    padding: 16px 32px;
}
button.back:hover {
    background-color:greenyellow;
    color: black;
}

button.profile{
    background-color: rgb(202, 65, 10);
    color: white;
}
button.profile:hover{
    background-color: yellowgreen;
}

button.IG{
    background-color: purple;
    padding: 10px 10px;
}
button.IG:hover{
    background-color: rgb(160, 27, 27);
}
